<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/movieFoundCSS.css">
    <meta charset="UTF-8">
    <title>Found!</title>
</head>
<body>
    <div class="parentFrame">
        <% for (var i=0; i < name.length; i++) {%>
        <div class="childFrame">
            <div class="heading"><%= name[i].movieName %></div>
            <div class="content">
                <div class="text">Lead actor : <%= name[i].actorName %> </div><br><br>
                <div class="text">Release date : <%= name[i].movieDate %> </div><br><br>
                <div class="text">Rating : <%= name[i].movieRating %> </div><br><br>
                <div class="text">Budget : <%= name[i].movieBudget %> </div><br><br>
                <div class="text">Gross : <%= name[i].movieGross %> </div>
            </div>
        </div>
        <div class="separator"></div>
        <br><br>
        <% } %>
        <div class="footer">Thank you.</div>
    </div>

    <form action="http://localhost:3000/goToUserLogin">
        <input type="submit" value="Log out" id="logOut">
    </form>

</body>
</html>