body, html {
  height: 100%;
  width:100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1{
  font-size: 70px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
  text-align: center;
  margin: 0px;
  color: #F5F5F5;
  text-shadow: 1px 1px 2px black,
                -1px 1px 2px black,
                1px -1px 2px black,
                -1px -1px 2px black,
                10px 10px 10px black;
  opacity: 0.9;
}

.frame {
  position: absolute;
  top: 15%;
  left: 30%;
  /*border: solid;*/
  border-radius: 5px;
  padding: 50px;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 10px 10px 10px grey;
  box-shadow: 15px 15px 90px black;
}

#logOut{
  position: absolute;
  left: 90%;
  background-color: #ce0504;
  width: max-content;
}

input[type="text"]{
  font-size: 20px;  
  margin: 20px;
  padding: 20px;
  width: 90%;
  text-align: center;
  /*border: black 1px solid;*/
  border: 0;
  border-radius: 5px;
  opacity: 0.5;
}


input[type="button"],input[type="submit"], button{
  font-size: 20px;
  margin: 20px;
  padding: 15px;
  width: 90%;
  text-align: center;
  background-color:  #17833F;
  color: cornsilk;
  border: 0px;
  border-radius: 5px;
  opacity: 0.9;
}

input[type="text"]:hover{
  box-shadow: 10px 10px 50px black;
  opacity: 1;
  transition: box-shadow 0.3s ease,opacity 0.3s ease;
}


input[type="button"]:hover,input[type="submit"]:hover, button:hover{
  background-color: #3b5998;
  opacity: 1;
  transition: background-color 0.3s ease,opacity 0.3s ease;
}

.image{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#imag0{background-image: url("http://localhost:3000/images/3.jpg");}

.mySlides {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

@keyframes fadeIn {
  from {opacity: .4}
  to {opacity: 1}
}